body {
    background-color: rgb(39, 37, 37);
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins';
  }

  /* Global styles */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  header {
    background: url(../img/guy_gym2.jpg) 100%;
    /* add grey overlay */
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 30px;
    padding-bottom: 350px;
    min-height: 70px;
    /* border-bottom: orangered3px solid; */
  }
  
  header li {
    position: relative;
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    list-style-type: none;
    font-weight: 700;
  }

  /* header #branding img,header nav {
    position: fixed;
  } */

  header nav a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: orange ease-in-out 0.3s;
  }

  header nav a:hover{
    color:orangered;
    text-decoration:line-through;
    cursor:pointer;
}

  header ul {
    margin: 0;
    padding: 0;
  }

  header #branding {
    float: left;
  }

    header #nav_bar {
      margin: 0;
      padding:0 20px 0 20px ;
      display: flex;
      float: left;
      margin-top: 10px;
      align-items: center;
    }

    header nav li {
      margin-right: 10px;
    }

    header nav img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }

    /* SHOWCASE */
    #showcase{
      min-height: 400px;
      text-align: center;
      margin-top: 300px;
      color: white;
      text-transform: uppercase;
      margin-left: 1000px;
      text-align: left;
    }

    header #showcase p{
      margin-top: 200px;
      font-size: 30px;
      letter-spacing: 10px;
      font-weight: bolder;
    }

    header #showcase h1{
      padding-top: 10px;
      font-size: 70px;
    }

    #change_color {
      color: #eb5a0b;
    }

    button{
      left: 1180px;
      top:25px;
      width:150px;
      height:60px;
      background-color: orangered;
      color:white;
      border:none;           
      }

      #classes {
        position: relative;
        /* width: 50%; */
        color: white;
        /* padding-top: 550px; */
        padding-left: 50%;
        text-transform: uppercase;
      }

      #classes p {
        position: absolute;
        display: inline;
        color: #eb5a0b;
        font-size: 20px;
        font-weight: 600;
      }

      .love{
        /* position: relative; */
        font-family: Arial, Helvetica, sans-serif;
        color: aliceblue;
        padding-top: 40px ;
        padding-left: 7%;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
      }
      
      /* .love h2 {
        font-size: 35px;
        padding-left: 10px;
      } */

      figure{
        padding-top: 40px;
        margin-right: 70px;
        padding: 0;
      }

      .picture{
        padding-top: 0px;
        display: inline;
        margin-left: 150px;
      }

      .text2{
        position: relative;
        bottom: 10px;
        margin: 0;
        background-color: rgb(33, 32, 32);
        padding-left: 20px;
        width: 390px;
        height: 50px;
        color: #eb5a0b;
        margin-left: 150px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;
      }

      .sub_text{
        position: relative;
      }

      #color_change {
        color: white;
        font-size: 20px;
      }

      .seperate {
        float: left;
        margin: auto;
        padding: 10px;
      }

      .seperate2 {
        float: left;
        padding-left: 250px;
      }

      /* titi's css */

      #bottomframe1 p {
        text-align: center;
        margin: 0;
        color: #eb5a0b;
        font-weight: 800;
      }

      #bottomframe1 h2 {
        color: whitesmoke;
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
      }

      button.info{
        left: 1180px;
        top:20px;
        width:150px;
        height:60px;
        border-radius: 7px;
        background-color: #eb5a0b;
        color:white;
        border:none;  
        margin-left:10px;      
      }
      #bottomframe1{
        position:relative;
        background-color: rgb(15, 15, 15);
        width:100%;
        height:300px;
        padding-left :30px;
        padding-bottom: 250px;
        font-family:Verdana, Tahoma, sans-serif; 
      }
      .iconbox button{
        border: none;
        border-radius:50%;
        width:70px;
        height:70px;
        background-color: whitesmoke;
        margin-right:100px;
        margin-left:100px;
      }
      .iconbox button:hover{
        background-color:#eb5a0b;
      }
      .iconbox{
        width:260px;
        height:200px;
        float:left;
        background-color: none;
        border-radius:8px;
        margin-left: 150px;
        padding:8px;
        border:3px; 
      }

      .iconbox img{
          color:black;
          width:40px;
          height:40px;
      }


      #bottomframe1 .iconbox p{
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: 12px;
        color: #707070;
        padding: 2px;
      }
