body {
    background-color: rgb(39, 37, 37);
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    font-size: 14px;
    font-family: 'Poppins';
    overflow-x: hidden;
  }

  /* Global styles */
  .container {
    width: 80%;
    margin:0;
    overflow:hidden;
  }

  header {
    background: url(../img/guy_gym2.jpg) 100%;
    /* add grey overlay */
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
    padding-top: 30px;
    padding-bottom: 350px;
    min-height: 70px;
  }
  
  header li {
    position: relative;
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    list-style-type: none;
    font-weight: 700;
  }


  header nav a {
    position: relative;
    text-decoration: none;
    color: white;
  }

  header nav a:hover{
    color:orangered;
    text-decoration:line-through;
    cursor:pointer;
    /* transition:  orange 0.5s ease-in-out; */
}

  header ul {
    margin: 0;
    padding: 0;
  }

  header #branding {
    float: left;
    padding-left: 18%;
  }

    header #nav_bar {
      margin: 0;
      padding:0 20px 0 20px ;
      display: flex;
      float: left;
      margin-top: 10px;
      align-items: center;
    }

    header nav li {
      margin-right: 10px;
    }

    header nav img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }

    /* SHOWCASE */
    #showcase{
      min-height: 400px;
      text-align: center;
      margin-top: 300px;
      color: white;
      text-transform: uppercase;
      margin-left: 1000px;
      text-align: left;
    }

    header #showcase p{
      margin-top: 200px;
      font-size: 30px;
      letter-spacing: 10px;
      font-weight: bolder;
    }

    header #showcase h1{
      padding-top: 10px;
      font-size: 70px;
    }

    #change_color {
      color: #eb5a0b;
    }

    #showcase button{
      width:150px;
      height:60px;
      background-color: orangered;
      color:white;
      border:none;           
      }

      /* end of showcase */

      /* bottomframe1 */

      #bottomframe1 p {
        text-align: center;
        margin: 0;
        color: #eb5a0b;
        font-weight: 800;
      }

      #bottomframe1 h2 {
        color: whitesmoke;
        text-align: center;
        font-size: 25px;
        margin-bottom: 30px;
      }

      button.info{
        left: 1180px;
        top:20px;
        width:150px;
        height:60px;
        border-radius: 7px;
        background-color: #eb5a0b;
        color:white;
        border:none;  
        margin-left:10px;      
      }
      #bottomframe1{
        position:relative;
        background-color: rgb(15, 15, 15);
        width:100%;
        height:300px;
        padding-left :30px;
        padding-bottom: 310px;
        font-family:Verdana, Tahoma, sans-serif; 
      }
      .iconbox button{
        border: none;
        border-radius:50%;
        width:70px;
        height:70px;
        background-color: whitesmoke;
        margin-right:100px;
        margin-left:100px;
      }
      .iconbox button:hover{
        background-color:#eb5a0b;
      }
      .iconbox{
        width:260px;
        height:200px;
        float:left;
        background-color: none;
        border-radius:8px;
        margin-left: 150px;
        padding:8px;
        border:3px; 
      }

      .iconbox img{
          color:black;
          width:40px;
          height:40px;
      }


      #bottomframe1 .iconbox p{
        font-family: Arial, sans-serif;
        text-align: center;
        font-size: 12px;
        color: #707070;
        padding: 2px;
      }

      /* end of bottomframe1 */

      /* classes */

      #classes {
        position: relative;
        /* width: 50%; */
        color: white;
        padding-top: 100px;
        padding-left: 50%;
        text-transform: uppercase;
      }

      #classes p {
        display: inline;
        color: #eb5a0b;
        font-size: 20px;
        font-weight: 550;
        font-family:Verdana, Tahoma, sans-serif;
      }

      .love h2{
        /* position: relative; */
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        padding-left: 7%;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
      }

      figure{
        padding-top: 40px;
        margin-right: 70px;
        padding: 0;
      }

      .picture{
        padding-top: 0px;
        display: inline;
        margin-left: 150px;
      }

      .text2{
        position: relative;
        bottom: 10px;
        margin: 0;
        background-color: rgb(33, 32, 32);
        padding-left: 20px;
        width: 390px;
        height: 50px;
        color: #eb5a0b;
        margin-left: 150px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;
      }

      .sub_text{
        position: relative;
      }

      #color_change {
        color: white;
        font-size: 20px;
      }

      .seperate {
        float: left;
        margin: auto;
        padding: 10px;
      }

      .seperate2 {
        float: left;
        padding-left: 250px;
      }

      /* end of classes */

      /* register */

      #register {
        position: relative;
        display: flex;
        padding-top: 100px;
        /* padding-left: 10%; */
        width: 100%;
        /* height: 100%; */
        /* padding-bottom: 3000px; */
        text-transform: uppercase;
        z-index: 1;
      }

      #register_text {
        position: absolute;
        text-transform: uppercase;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
      }

      #register_text h2{
        font-size: 55px;
      }

      #register_text p{
        font-size: 20px;
        font-weight: 600;
        color: #c9c5c5;
      }/* change color */

      #register_text button, #trainers button {
        margin-top: 30px;
        width: 200px;
        height:60px;
        color: white;
        font-size: 15px;
        border:  2px solid #eb5a0b;
        background-color: transparent;
      }

      #register_text button:hover {
        background-color: #eb5a0b;
        transition: 1s ease-in-out;
      }

      /* end of register */

      #trainers {
        padding-top: 100px;
        text-transform: uppercase;
        margin-left: 20%;
      }

      #trainers p{
        color: #eb5a0b;
        font-weight: 600;
        font-size: 20px;
      }

      #trainers h2{
        color: whitesmoke;
        font-weight: 600;
        font-size: 30px;
        float: left;
        padding-right: 50%;
      }

      #trainers button{
        font-weight: 600;
      }

      .trainers_images{
        position: relative;
        display: inline-block;
        margin-top: 40px;
      }

      .slide{
        width: 400px;
        height: 400px;
        padding: 20px;
      }

      .trainers_text {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        margin-left: 100px;
        margin-top: 22%;
        padding: 0 80px 0 20px;
      }

      .trainers_text:hover {
        opacity: 1;
        transition: 1s ease-in-out;
      }
