body {
    background-color: rgb(39, 37, 37);
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Poppins';
  }

  /* Global styles */
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

  header {
    background: url(../img/guy_gym2.jpg) 100%;
    /* add grey overlay */
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    min-height: 70px;
    /* border-bottom: orangered3px solid; */
  }
  
  header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    list-style-type: none;
    font-weight: 700;
  }

  /* header #branding img,header nav {
    position: fixed;
  } */

  header nav a {
    text-decoration: none;
    color: white;
  }

  header nav a:hover{
    color:orangered;
    text-decoration:line-through;
    cursor:pointer;
} 

  header ul {
    margin: 0;
    padding: 0;
  }

  header #branding {
    float: left;
  }

    header #nav_bar {
      margin: 0;
      padding:0 20px 0 20px ;
      display: flex;
      float: left;
      margin-top: 10px;
      align-items: center;
    }

    header nav li {
      margin-right: 10px;
    }

    header nav img {
      width: 30px;
      height: 30px;
      vertical-align: middle;
    }

    /* SHOWCASE */
    #showcase{
      min-height: 400px;
      text-align: center;
      margin-top: 300px;
      color: white;
      text-transform: uppercase;
      margin-left: 1000px;
      text-align: left;
    }

    header #showcase p{
      margin-top: 200px;
      font-size: 30px;
      letter-spacing: 10px;
      font-weight: bolder;
    }

    header #showcase h1{
      padding-top: 10px;
      font-size: 70px;
    }

    #change_color {
      color: #eb5a0b;
    }

    button{
      left: 1180px;
      top:25px;
      width:150px;
      height:60px;
      background-color: orangered;
      color:white;
      border:none;           
      }

      #classes {
        position: relative;
        /* width: 50%; */
        color: white;
        padding-top: 1050px;
        padding-left: 50%;
        text-transform: uppercase;
      }

      #classes p {
        position: absolute;
        display: inline;
        color: #eb5a0b;
        font-size: 20px;
        font-weight: 600;
      }

      .love{
        /* position: relative; */
        font-family: Arial, Helvetica, sans-serif;
        color: aliceblue;
        padding-top: 40px ;
        padding-left: 15%;
        text-transform: uppercase;
        text-align: center;
      }
      
      .love h2 {
        font-size: 35px;
      }

      figure{
        padding-top: 40px;
        margin-right: 70px;
        padding: 0;
      }

      .picture{
        padding-top: 0px;
        display: inline;
        margin-left: 150px;
      }

      .text{
        position: relative;
        bottom: 10px;
        margin: 0;
        background-color: rgb(33, 32, 32);
        padding-left: 20px;
        width: 390px;
        height: 50px;
        color: #eb5a0b;
        margin-left: 150px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: left;
      }

      .sub_text{
        position: relative;
      }

      #color_change {
        color: white;
        font-size: 20px;
      }
